{% extends 'base.html' %}

{% block head %} 
    <title>Dashboard</title>
{% endblock head %}

{% block body %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h1>Welcome, {{ current_user }}</h1>
        {% else %}
            <h1>Welcome, Anonymous User</h1>
        {% endif %}

        <div class="simulations row">
            <h4>Your simulations:</h4>
            {% for simulation in current_user.simulations %}
                 <div class="chart-container">
                     <canvas class="canvas"></canvas>
                 </div>
            {% endfor %}
            <div class="chart-container">
                <canvas class="chart" on="console.log('Hello')"></canvas>
            </div>
            <div class="chart-container">
                <canvas class="chart" onload="createChart([13, 78, 23, 56, 65, 78, 45, 23, 19])"></canvas>
            </div>
        </div>
        <!-- <div>
            <canvas id="myChart"></canvas>
        </div> -->
    </div>
{% endblock body %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.js" integrity="sha512-lUsN5TEogpe12qeV8NF4cxlJJatTZ12jnx9WXkFXOy7yFbuHwYRTjmctvwbRIuZPhv+lpvy7Cm9o8T9e+9pTrg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock scripts %}